# Telegram bot token
botToken: 1234567890:AAAABBBBCCCCDDDDEEEEFF-GGGGHHHHIIII
# Telegram API app_id / app_hash (see https://core.telegram.org/api/obtaining_api_id)
appId: 12345
appHash: abc123def456
# Path to Telegram API file downloader script
downloaderScript: pytgfile.py
# Comma-separated list of superusers
# Superuser can execute /run command
superUsers: 12345
# Comma-separated list of allowed user ids
allowedUsers: 12346, 12347
